<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Video Streaming With Node</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        
    </head>
    <body id="aa">
        <div>
            <video id="videoPlayer" width="1080" height="720" controls  >
                <source src="/video0" type="video/mp4">
            </video>
            <button id = 'first'><a href="https://www.google.com/">take to google</a></button>
            <button id = 'video1'>Play Video 1</button>
            <button id = 'video2'>Play Video 2</button>
        </div>
        <script src="/script.js"></script>
    </body>
</html>